@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MySchool</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>欢迎大家来到学校</h2>
        <p>开始以一个core项目</p>
    </div>
    <div class="col-md-4">
        <h2>从0开始</h2>
        <p>有一些看不懂...</p>
    </div>
    <div class="col-md-4">
        <h2>那怎么办</h2>
        <p>凉拌!</p>
    </div>
</div>
